# ~~~~~
# This config file is optional
# simply place it in the same directory as SortTV
# ~~~~~

# The new files to sort
# For example, set this to where completed downloads are stored
directory-to-sort:/home/cliffe/Files/Downloads/Unsorted

# Where to sort episodes into (dir that will contain dirs for each show)
# This directory will contain the structure (Show)/(Seasons)/(episodes)
directory-to-sort-into:/home/cliffe/Files/Media/TV

# OPTIONAL - where to put things that are not episodes
# If this is supplied then files and directories that SortTV does not believe are episodes will be moved here
non-episode-dir:/home/cliffe/Files/Downloads/Non-episodes

# OPTIONAL - host:port for xbmc webserver, to automatically update library when new episodes arrive
# You probably want to set this to port 8080. Remember to enable the webserver within xbmc, and "set the content" of your TV directory in xbmc.
xbmc-web-server:localhost:8089

# OPTIONAL - log to this file
log-file:/home/cliffe/sorttv

# OPTIONAL - secondary config file, overwrites settings loaded so far (DO NOT PUT THE NAME OF THIS FILE!)
# read-config-file:

# OPTIONAL - rename episodes to "showname S01E01.ext" format when moving
rename-episodes:TRUE

# OPTIONAL - renames episodes to replace spaces with dots
use-dots-instead-of-spaces:FALSE

